In [0]:
import pandas as pd
import numpy as np

In [0]:
s1=pd.Series(np.random.randint(1,high=5, size=100, dtype='I'))
s2=pd.Series(np.random.randint(1, high=4, size=100, dtype='I'))
s3=pd.Series(np.random.randint(10000, high=30001, size=100, dtype='I'))
print(s1,s2,s3)

0     1
1     1
2     3
3     3
4     2
     ..
95    3
96    4
97    1
98    3
99    1
Length: 100, dtype: uint32 0     3
1     2
2     3
3     2
4     2
     ..
95    2
96    3
97    1
98    1
99    3
Length: 100, dtype: uint32 0     13704
1     19118
2     10982
3     10926
4     20960
      ...
95    11603
96    28297
97    29153
98    26564
99    21763
Length: 100, dtype: uint32

In [0]:
housemkt = pd.concat([s1, s2, s3],axis=1)
housemkt.head()

   0  1      2
0  1  3  13704
1  1  2  19118
2  3  3  10982
3  3  2  10926
4  2  2  20960

In [0]:
housemkt.rename(columns = {0:'bedrs',1:'bathrs',2:'price_sqr_meter'},inplace=True)
housemkt.head()

   bedrs  bathrs  price_sqr_meter
0      1       3            13704
1      1       2            19118
2      3       3            10982
3      3       2            10926
4      2       2            20960

In [0]:
bigcolumn = pd.concat([s1, s2],axis=0)
bigcolumn= bigcolumn.to_frame()
print(type(bigcolumn))
bigcolumn

<class 'pandas.core.frame.DataFrame'>

    0
0   1
1   1
2   3
3   3
4   2
.. ..
95  2
96  3
97  1
98  1
99  3

[200 rows x 1 columns]

In [0]:

len(bigcolumn)

200

In [0]:
bigcolumn.reset_index(drop=True,inplace=True)
bigcolumn

     0
0    1
1    1
2    3
3    3
4    2
..  ..
195  2
196  3
197  1
198  1
199  3

[200 rows x 1 columns]